{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link
            rel="stylesheet"
            href="{% static 'css/output.css' %}" />
        <script src="{% static 'js/script.js' %}"></script>
    </head>
    <body>
        <main>
            {% if messages %} {% for message in messages %}
            <div
                role="alert"
                class="alert alert-{{ message.tags }}">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="stroke-current shrink-0 h-6 w-6"
                    fill="none"
                    viewBox="0 0 24 24">
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
                <span>{{message}}</span>
            </div>
            {% endfor %} {% endif %}
            <div class="hero min-h-screen bg-base-200">
                <div class="hero-content flex-col lg:flex-row-reverse">
                    <div class="text-center lg:text-left">
                        <h1 class="text-5xl font-bold">Login now!</h1>
                        <p class="py-6">
                            Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem quasi. In deleniti
                            eaque aut repudiandae et a id nisi.
                        </p>
                    </div>
                    <div class="card shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
                        <form
                            class="card-body"
                            method="POST">
                            {% csrf_token %}
                            <div class="form-control">
                                <label class="label">
                                    <span class="label-text">Username</span>
                                </label>
                                <input
                                    type="username"
                                    placeholder="username"
                                    class="input input-bordered"
                                    name="username"
                                    id="username"
                                    required />
                            </div>
                            <div class="form-control">
                                <label class="label">
                                    <span class="label-text">Password</span>
                                </label>
                                <input
                                    type="password"
                                    placeholder="password"
                                    name="password"
                                    id="password"
                                    class="input input-bordered"
                                    required />
                                <label class="label">
                                    <a
                                        href="#"
                                        class="label-text-alt link link-hover"
                                        >Forgot password?</a
                                    >
                                </label>
                            </div>
                            <div class="form-control mt-6">
                                <button class="btn btn-primary">Login</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>
